body {
    box-sizing: border-box;
    font-family: sans-serif;
    width: 100%;
    font-size: 1rem;
    width: 98%;
}

@media screen and (min-width: 1920px) {
    body {
    font-size: 1.5rem;
    }
    #desk-ic {
        height: 96px;
    }
}

@media screen and (max-width: 840px) {
    header, .section1, .section2 {
    font-size: 0.8rem;
    }
    #desk-ic {
        height: 48px;
    }
}

@media screen and (max-width: 720px) {
    header, .section1, .section2 {
    font-size: 0.65rem;
    }
    #desk-ic {
        height: 40px;
    }
}

@media screen and (max-width: 580px) {
    header, .section1, .section2 {
    font-size: 0.5rem;
    }
    #desk-ic {
        height: 32px;
    }
}


@media screen and (min-width: 480px) {
    .mobile {
        display: none;    
    }
}

/* intro */

header {
    height: 64px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid seashell;
    align-items: center;
}

header .left1 {
    width: 100%;
    padding: 24px;
    display: flex;
}

.left span {
    opacity: 0.5;
}

header .right1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 24px;
    border-spacing: auto solid turquoise;
}

@media screen and (max-width: 480px) {
    header h2, header h3 {
        display: none;
    }
    header .right1 {
        width: 0%
    }
    .left1 #desk-ic {
        display: none;
    }
    
    header img {
        height: 40px;
    }
    #icons {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}



/* section 1 */

.section1 {
    display: flex;
    background-color: lightgray;
    align-content: center;
}
.section1 img {
    height: auto;
    width: 60%;
    padding: 24px;
}

.text {
    padding: 24px;
    align-content: center;
}

#start-here {
    display: flex;
    background-color: rgb(80, 80, 80);
    justify-content: center;
    color: white;
}

@media screen and (max-width: 480px) {
    .section1 {
        display: none;
    } 
    #section1 {
        background-color: lightgray;
        padding-bottom: 32px;
        border-bottom: 1px solid lightgray;
    }
    #section1 img {
    height: auto;
    width: 100%;
    margin: 0 0 16px;
    
    }
    #start-here {
        margin: 24px 16px 16px;
    }

    .text {
    padding: 0 16px;
    align-content: normal;
}

}

/* section 2 */

.section2 {
    display: flex;
    margin-bottom: 32px;
}

.left2 {
    display: block;
    width: 60%;
    padding: 24px;
}
.left2 img {
    height: auto;
    width: 100%;
}


.box {
    display: flex;
    border: 1px solid lightgray;
    padding: 16px;
}

#box1 {
    margin: 24px 0 0 0;
}

#box3 {
    background-color: lightgray;
}

.box img {
    display: flex;
    height: auto;
    width: 35%;
}

.details {
    padding: 0 16px;
}

.btxt {
    color: rgb(0, 162, 255);
}

@media screen and (max-width: 480px) {
    .section2 {
        display: none;
    }
    #section2 {
        display: block;
        padding: 16px;
        border-bottom: 1px solid lightgray;
    }
    #section2 img {
        width: 100%;
    }
}

/* section 3 */

.section3 {
    background-color: lightgray;
}

.text3 {
    text-align: center;
    width: 100%;
    padding-top: 32px;
}

.learn {
    display: flex;
    align-items: center;
    min-height: 125px;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    padding: 16px 56px;
}



.learn img {
    width: 300px;
    height: auto;
}

.lbox {
    background-color: white;
    margin: 16px;
    width: 300px;
    height: 330px;
}

.lbox p {
    padding: 0 16px;
}

@media screen and (max-width: 480px) {
    .section3 {
        display: none;
    }

    #section3 {
        border-bottom: 1px solid lightgray;
        padding-bottom: 24px;
    }

    #section3 h1 {
        text-align: center;
    }
    #section3 h3 {
        background-color: lightgray;
        padding: 16px 16px 24px;
        margin: 8px 16px;
    }
}

/* section 4 */

.left2 video {
    height: 400px;
    width: 100%;
}

#box1 {
    background-color: lightgray;
}

#box2 {
    border: none;
}

#section4 {
    border-bottom: 1px solid lightgray;
}

@media screen and (max-width: 480px) {
    #m-section4 {
        margin: 32px 0 24px;
        text-align: center;
    }
    .section4 video {
        height: 400px;
        width: 100%;
    }
}

/* footer */

footer {
    width: 100%;
    display: flex;
    align-items: center;
}

footer #ft-l {
    width: 100%;
    padding: 24px;
    display: flex;
}


footer #ft-r {
    width: 130px;
    display: flex;
    justify-content: space-between;
    padding-right: 24px;
}

@media screen and (max-width: 480px) {
    footer {
        font-size: 0.5em;
        display: flex;
    }
    footer #ft-l {
    width: 100%;
    padding: 16px;
}


footer #ft-r {
    display: none;
}
}