body {
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    height: 64px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid seashell;
    align-items: center;
}

header .left {
    width: 100%;
    padding: 24px;
    display: flex;
}

.left span {
    opacity: 0.5;
}

header .right {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 24px;
    border-spacing: auto solid turquoise;
}

.section1 {
    display: flex;
    background-color: lightgray;
    align-content: center;
}
.section1 img {
    height: auto;
    width: 50%;
    padding: 24px;
}

.text {
    padding: 24px;
    align-content: center;
}

#start-here {
    display: flex;
    background-color: rgb(80, 80, 80);
    justify-content: center;
    color: white;
}














